<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="DefaultConnection" />
        <add connectionString="&quot;Data Source=IBOOK;AttachDbFilename=|DataDirectory|\aspnet-GameLab-20160606013004.mdf;Initial Catalog=aspnet-GameLab-20160606013004;Integrated Security=True&quot; providerName=&quot;System.Data.SqlClient&quot;" name="DefaultConnection" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
